%article.card_slot.source{:class=>slot.status}
  %section.tag_info
    =render :partial => 'slots/tags', :locals=>{:slot=>slot}
  %section.card_info
    -for card in slot.cards
      %article.set_card.source
        =render :partial=>'cards/physical', :locals=>{:card=>card}
        =render :partial=>'shared/actions', :locals=>{:actions=>card_actions}
  =render :partial=>'shared/actions', :locals=>{:actions=>slot_actions}