%section.slotted.card_section.source
  -for slot in @slots
    =render :partial=>'slot', :locals=>{:slot=>slot,:slot_actions=>[{:partial=>'slots/fill_slot',:locals=>{:slot=>slot}}],:card_actions=>[]}
  =render :partial=>'shared/actions', :locals=>{:actions=>[{:partial=>'sets/add_slots',:locals=>{:set=>@parents[0]}}]}