-for slot in @slots
  =render :partial=>'slot', :locals=>{:slot=>slot}
=form_for @parents.reverse do |f|
  =f.text_field :new_slots, :value=>'', :placeholder=>'number of slots to add'
  =f.submit 'add card slots'