=render :partial=>'slots/slot', :locals=>{:slot=>@slot,:slot_actions=>[]}
-for card in @slot.card_set.cards.submitted
  %article.set_card.source
    =render :partial=>'cards/physical', :locals=>{:card=>card}
    %ul.actions
      %li
        =form_for @parents.reverse.push(@slot) do |f|
          =f.hidden_field :card, :value=>card.id
          =f.submit 'slot me!'