%section.commentlist
  %header<
    %h1= "Comments for #{@owner.title}"
  %ul
    -@comments.each do |comment|
      %li= link_to comment.text,[@owner,comment]
  %footer
    =link_to 'new comment',new_card_comment_path(@owner)#this will need to change once people can comment on more than one thing