%section.cardlist
  %header<
    %h1 Card List
  %ul
    -@cards.each do |card|
      %li= link_to card.title,card
  %footer
    -if @parents and !@parents.empty?
      =link_to 'new card',url_for(@parents.reverse)+'/cards/new'
    -else
      =link_to 'new card',new_card_path