%article.magicCard
  %header<
    %h1= @card.title
  =render :partial=>"physical", :locals=>{:card=>@card}
  .actions
    %ul
      -if user_signed_in?
        -if @card.editor_permissions? current_user
          %li= button_to 'trash this card', @card, :method=>:delete
          %li= button_to 'make some changes', edit_card_path(@card), :method=>:get
      %li= button_to 'other cards', cards_path, :method=>:get
  -if user_signed_in?
    =render :partial=>'shared/shared_block', :locals=>{:user=>current_user,:type=>'new_comment',:object=>Array.new(@parents).reverse.push(@card), :callback=>'comments/new_comment'}
  =render :partial=>'events/event_list', :locals=>{:events=>@card.events}